.destination {
  padding-top: 75px;
}

.destination__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.destination__img {
  margin-right: 24px;
  max-width: 445px;
  width: 100%;
  height: auto;
}

.destination__content {
  max-width: 445px;
}

.destination__tabs {
  display: flex;
  align-items: center;
  gap: 35px;
  text-transform: uppercase;
  font-family: Barlow Condensed;
  letter-spacing: 2.7px;
  padding-bottom: 15px;
  margin-bottom: 37px;
}

.destination__tab {
  position: relative;
  cursor: pointer;
  user-select: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover::after {
    opacity: 0.5;
  }

  &.active::after {
    opacity: 1;
  }
}

.destination__planet-name {
  text-transform: uppercase;
  color: #fff;
  font-family: Bellefair;
  font-size: 100px;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 23px;
}

.destination__desc {
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 18px;
  line-height: 32px;
}

.destination__divider {
  height: 1px;
  width: 100%;
  background-color: #383b4b;
  margin-bottom: 28px;
}

.info-planet-destination {
  display: flex;
  align-items: center;
  gap: 80px;
}

.info__planet-destination__title {
  text-transform: uppercase;
  font-family: Barlow Condensed;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.3px;
  margin-top: 0;
  margin-bottom: 12px;
}

.info-planet-destination__value {
  color: #fff;
  font-family: Bellefair;
  font-size: 28px;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}
