.destination {
  padding-top: 75px;

  @media only screen and (max-width: 768px) {
    padding: 40px 0;
  }

  @media only screen and (max-width: 576px) {
    padding-top: 24px;
  }
}

.destination__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media only screen and (max-width: 1200px) {
    justify-content: space-around;
  }

  @media only screen and (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.destination__img {
  margin-right: 24px;
  max-width: 400px;
  width: 100%;
  height: auto;

  @media only screen and (max-width: 992px) {
    margin-bottom: 50px;
    margin-right: 0;
    max-width: 400px;
  }

  @media only screen and (max-width: 768px) {
    max-width: 370px;
  }

  @media only screen and (max-width: 576px) {
    max-width: 245px;
  }
}

.destination__content {
  max-width: 445px;

  @media only screen and (max-width: 992px) {
    max-width: 768px;
  }

  @media only screen and (max-width: 768px) {
    max-width: 576px;
  }
}

.destination__tabs {
  display: flex;
  align-items: center;
  gap: 35px;
  text-transform: uppercase;
  font-family: Barlow Condensed;
  letter-spacing: 2.7px;
  padding-bottom: 15px;
  margin-bottom: 22px;

  @media only screen and (max-width: 992px) {
    justify-content: center;
    margin-bottom: 12px;
  }
}

.destination__tab {
  position: relative;
  cursor: pointer;
  user-select: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover::after {
    opacity: 0.5;
  }

  &.active::after {
    opacity: 1;
  }
}

.destination__planet-name {
  text-transform: uppercase;
  color: #fff;
  font-family: Bellefair;
  font-size: 80px;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 15px;

  @media only screen and (max-width: 768px) {
    font-size: 60px;
    margin-bottom: 7px;
  }
}

.destination__desc {
  margin-top: 0;
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 45px;

  @media only screen and (max-width: 992px) {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

.destination__divider {
  height: 1px;
  width: 100%;
  background-color: #383b4b;
  margin-bottom: 18px;
}

.info-planet-destination {
  display: flex;
  align-items: center;
  gap: 80px;

  @media only screen and (max-width: 992px) {
    justify-content: center;
  }
}

.info-planet-destination__title {
  text-transform: uppercase;
  font-family: Barlow Condensed;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.3px;
  margin-top: 0;
  margin-bottom: 12px;
}

.info-planet-destination__value {
  color: #fff;
  font-family: Bellefair;
  font-size: 28px;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}
