/* FONTS */
@font-face {
  font-family: "Bellefair";
  src: url("../fonts/Bellefair-Regular.woff2") format("woff2"),
    url("../fonts/Bellefair-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("../fonts/BarlowCondensed-Regular.woff2") format("woff2"),
    url("../fonts/BarlowCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("../fonts/BarlowCondensed-Bold.woff2") format("woff2"),
    url("../fonts/BarlowCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"),
    url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* CUSTOM PROPS */
:root {
  --text-color: #d0d6f9;
}

/* GENERAL */
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

body {
  height: 100%;
  background-color: #fff;
  font-family: "Barlow", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  overflow-x: hidden;
  min-height: 100dvh;
  color: var(--text-color);
  margin: 0;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1415px;
  margin: 0 auto;
  padding: 0 15px;

  &--mini {
    @extend .container;
    max-width: 1166px;
  }
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 4.7px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 64px;

  b {
    opacity: 0.25;
  }

  @media only screen and (max-width: 768px) {
    font-size: 20px;
    letter-spacing: 3.3px;
    margin-bottom: 50px;
  }

  @media only screen and (max-width: 576px) {
    text-align: center;
    font-size: 16px;
    letter-spacing: 2.7px;
    margin-bottom: 35px;
  }
}

.button {
  display: inline-block;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

// animations
.slide-up {
  animation-name: slide-up;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  position: relative;
  transition: opacity 0.7s ease, position 0.5s ease;
}

.fade {
  animation-name: fade;
  animation-duration: 1.4s;
  animation-iteration-count: 1;
  transition: opacity 0.5s ease;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition: opacity 0.6s ease;
}

@keyframes slide-up {
  from {
    opacity: 0;
    bottom: -100px;
  }

  to {
    opacity: 1;
    bottom: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
